.App {
  /* text-align: center; */
}


.navsl {
  margin-top: none;
  padding-top: 1%;
  padding: 2px;
  padding-right: 4px;
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  /* position: fixed; */
  width: 100%;
  border-radius: 2px;
	border-bottom:  4px solid #25529b;
  border-top:  4px solid #25529b;
  font-size: 25px;
  font-family: monospace;
}

.name-container {
  /* border: 1px solid black; */
}

.comments-container {
  border: 1px solid grey;
  border-radius: 5px;
  overflow: scroll;
}

.profile {
  border: 1px solid red;
  height: 50em;
  overflow: scroll;
  width: 75%;
  margin: 0 auto;


}
